@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);
:root {
    --black: rgb(0, 0, 0);
    --test-glass: rgba(0, 0, 0, 0.8);
    --orange: rgb(243, 183, 71);
    --dark: rgba(0, 17, 17, 1);
    --base-metric: 100px;
    --header-height: var(--base-metric);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header>h1 {
    z-index: 1;
    float: left;
    color: var(--orange);
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin: 10px 0 0 8px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px var(--orange);
    padding-left: 25px;
    padding-top: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: var(--black);
    color: white;
    transition: all 0.15s ease-out;
}

.box2 {
    order: 2;
    margin-left: 180px;
    min-height: 600px;
    padding-top: 70px;
}

.box1 {
    order: 1;
    text-align: center;
    flex-basis: content;
    margin-left: 200px;
    border: 3px solid var(--orange);
    margin-left: 200px;
    height: 620px;
    width: 400px;
    text-align: center;
}

body.light-theme {
    background-color: var(--white);
    color: var(--black);
}

body.light-theme>main {
    background-color: var(--white);
    color: var(--black);
}

body.light-theme>main {
    background-color: var(--white);
    color: var(--black);
}

body.light-theme>main button {
    background-color: var(--white);
}

body.light-theme>main>div>form>input {
    background-color: white;
    color: black;
}

body.light-theme>main>div>form>select {
    background-color: white;
    color: var(--black)
}

body.light-theme>div>div{
    background-color: white;
    color: var(--black)
}

header {
    width: 100%;
    height: var(--header-height);
}

h1 {
    text-align: center;
    margin: 100px, 100px;
}

.p1 {
    margin: 5px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
}

.p2 {
    text-align: center;
    color: var(--white);
    font-size: 20px;
}

input {
    width: 120px;
    margin: 20px;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--orange);
    height: 40px;
    font-size: 14px;
    text-align: center;
    padding: 13px 13px 20px 20px;
}

select {
    width: 160px;
    margin: 20px;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--orange);
    height: 40px;
    font-size: 14px;
    text-align: center;
    padding: 13px 13px 20px 20px;
}

#totalTip {
    text-align: center;
}

#people-num {
    width: 160px;
    margin: 20px;
    border: 2px solid var(--orange);
    height: 40px;
    font-size: 14px;
    text-align: center;
    padding: 13px 13px 20px 20px;
}

#bill-amount {
    padding: 13px 13px 20px 20px;
}

button {
    font-size: 14px;
    display: block;
    border: 1px solid var(--orange);
    background-color: var(--dark-glass);
    color: var(--orange);
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
}

button:hover {
    color: rgb(151, 99, 3);
}

#calculate {
    height: 30px;
    width: 80px;
    margin-top: 0px;
    margin-left: 165px;
    margin-bottom: 5px;
}

.app {
    left: 50%;
    width: auto;
    min-height: 300px;
    height: 620px;
    background-color: var(--black);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

#change-theme-btn {
    font-size: 14px;
    display: block;
    border: 1px solid var(--orange);
    background-color: var(--dark-glass);
    color: var(--orange);
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin: 20px;
    float: right;
    margin-right: 3px;
    margin-left: 3px;
}

#about {
    font-size: 14px;
    display: block;
    border: 1px solid var(--orange);
    background-color: var(--dark-glass);
    color: var(--orange);
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin: 20px;
    margin-left: 3px;
    float: right;
}

.pic {
    padding-top: 18px;
    padding-right: 10px;
    float: right;
}

.commands:hover {
    color: rgb(151, 99, 3);
}

@media screen and (max-width: 600px) {
    .app {
        width: 100%;
    }
    .quote-text {
        font-size: 18px;
    }
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

#science-calculator {
    min-height: 400px;
}

path.main-colour {
    transition: fill 3s ease-out
}

path:hover {
    cursor: pointer;
    fill: rgb(245, 237, 122);
}

rect.middle:hover {
    cursor: pointer;
    fill: rgb(245, 237, 122);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: var(--black);
    margin: auto;
    padding: 20px;
    border: 4px solid var(--orange);
    width: 44%;
    height: 44%;
}

.top-part>h2 {
    border-bottom: 1px solid var(--orange);
    font-size: 16px;
    padding-bottom: 15px;
}

.close {
    color: var(--orange);
    display: block;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: rgb(151, 99, 3);
    text-decoration: none;
    cursor: pointer;
}

.p3 {
    font-weight: 15px;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    color: rgb(151, 99, 3);
}